:root{
  --blue:#18467c;
  --white:#ffffff;
  --light:#f2b41c;
  --black:#4B4C4C;
  --text:#4B4C4C;
}
body{
  background-color:var(--white);
  font-family:"Lora";
  overflow-x:hidden;
  color:var(--text);
  line-height:28px;
  font-size:18px;
  margin:0;
}
h1,h2,h3{
  font-family:"Futura";
  color:var(--blue);
}
.content{
  min-height:calc(100vh - 113px);
}
.section{
  padding:50px 15%;
  padding-top:25px;
}
.new{
  transform:translateY(25%);
  position:relative;
  margin-left:15px;
  width:75px;
}
@media only screen and (max-width:1000px){
  .section{
    padding:50px 5px;
  }
  h1,h2,h3{
    text-align:center;
  }
}
a{
  transition:color 0.1s ease;
  text-decoration:none;
  color:var(--blue);
}
a:hover{
  text-decoration:none;
  color:var(--light);
}
.coming-soon{
  font-weight:bold;
  font-size:25px;
  text-align:center;
  margin:125px 0;
}
@font-face{
  font-family:"Lora";
  src:url("res/Lora-Regular.ttf");
}
@font-face{
  font-family:"Futura";
  src:url("res/futura.ttf");
}

/* Header */
.navigation{
  border-right:solid 1px black;
  box-shadow:0 0 4px var(--black);
  background-color:var(--white);
  font-family:"Futura";
  padding:15px 5px;
  font-size:25px;
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
}
.navigation span{
  position:relative;
  color:var(--blue);
  font-weight:bold;
  margin:0 25px;
}
.navigation .dropdown:hover{
  color:var(--light);
}
.navigation .options{
  background-color:var(--white);
  position:absolute;
  padding-top:13px;
  display:none;
  width:200%;
  left:-15px;
  top:100%;
}
.navigation a{
  text-decoration:none;
  color:var(--blue);
  cursor:pointer;
  padding:15px;
}
.navigation a:hover{
  color:var(--light);
}
.navigation .options a{
  border-right:solid 1px var(--black);
  border-left:solid 1px var(--black);
  display:block;
}
.navigation .options a:last-child{
  border-bottom:solid 1px var(--black);
}
.navigation span:hover .options{
  display:block;
}
.nav-guard{
  height:55px;
}
@media only screen and (max-width:1000px){
  .nav-guard{
    display:none;
  }
  .navigation a{
    display:block;
  }
  .navigation{
    text-align:center;
    position:relative;
  }
  .navigation .dropdown{
    display:none;
  }
  .navigation .options{
    position:relative;
    display:block;
    padding-top:0;
    width:100%;
    padding:0;
    left:0;
  }
  .navigation .options a{
    border-bottom:none;
    font-size:25px;
    display:block;
    border:none;
  }
  .navigation .options a:last-child{
    border:none;
  }
  .navigation span{
    display:block;
    margin:0;
  }
}

/* Splash */
.splash{
  background-color:var(--blue);
  color:var(--white);
  text-align:center;
  font-weight:bold;
}
.splash img{
  height:280px;
}
.splash h1{
  color:var(--white);
  padding:50px 0;
  margin:0;
}
@media only screen and (max-width:1000px){
  .splash img{
    position:relative;
    width:100vw;
    height:31vw;
    left:0;
  }
}

/* Other front page stuff */
.member img{
  border-radius:50%;
  margin-right:50px;
  width:150px;
}
.member{
  grid-template-columns:175px calc(100% - 175px);
  margin-bottom:25px;
  display:grid;
}

/* Services/Products */
.products{
  background-color:var(--blue);
  color:var(--white);
}
.products h2{
  color:var(--white);
}
.products-wrapper{
  grid-template-columns:33% 34% 33%;
  text-align:center;
  display:grid;
}
.products-wrapper > div{
  padding:15px;
}
.products-wrapper p{
  margin:50px 0;
}
.products a{
  color:white;
}
@media only screen and (max-width:1000px){
  .products-wrapper{
    grid-template-columns:100%;
  }
  .products-wrapper div{
    padding:0;
  }
}

/* Testimonials */
.testimonials-wrapper{
  grid-template-columns:50% 50%;
  display:grid;
}
.testimonial{
  text-align:justify;
  padding:15px;
}
.testimonial i{
  font-weight:bold;
}
.testimonial p{
  color:var(--blue);
}
@media only screen and (max-width:1000px){
  .testimonials-wrapper{
    grid-template-columns:100%;
  }
}

/* Contact */
.contact{
  background-color:var(--blue);
  color:var(--white);
}
.contact h2{
  margin-bottom:50px;
  color:var(--white);
  text-align:center;
}
.contact a{
  text-decoration:none;
  color:var(--white);
}
.contacts-wrapper{
  grid-template-columns:33% 34% 33%;
  display:grid;
}
.contact-icon{
  text-align:center;
  font-weight:bold;
}
.contact-icon img{
  height:75px;
  width:75px;
}
@media only screen and (max-width:1000px){
  .contacts-wrapper{
    grid-template-columns:100%;
  }
  .contact-icon{
    margin-bottom:25px;
  }
}

/* Footer */
.footer{
  border-top:solid 5px var(--white);
  background-color:var(--black);
  color:var(--white);
  text-align:center;
  font-weight:bold;
  padding:15px 0;
}

/* Clients page */
.clients{
  grid-template-columns:25% 24% 24% 24%;
  grid-column-gap:1%;
  display:grid;
}
.clients .client{
  border:solid 1px #c2c2c2;
  /*background-color:#e2e2e2;*/
  text-align:center;
  position:relative;
  margin-top:50px;
}
.clients .client > div{
  transform:translateY(-50%);
  position:relative;
  top:50%;
}
.clients .client img{
  margin:15px 0;
  width:80%;
}
.clients .client img.black-img{
  background-color:black;
}
.clients .client a{
  text-decoration:none;
  color:var(--blue);
}
@media only screen and (max-width:1000px){
  .clients{
    grid-template-columns:100%;
  }
  .clients .client{
    margin-bottom:35px;
  }
}

/* Testimonials */
.testimonials h2{
  margin-bottom:0;
}
.testimonials p{
  margin-top:10px;
}
.testimonials > div{
  font-size:16px;
  margin:35px 0;
}

/* Podcasts */
.podcasts{
  grid-template-columns:33% 34% 33%;
  display:grid;
}
.podcast{
  margin-bottom:50px;
  text-align:center;
}
.podcast img{
  width:100px;
}
.podcast p{
  margin:15px 0;
}
.podcast h2{
  margin:5px 0;
}
.podcast a{
  display:block;
  margin:5px 0;
}
@media only screen and (max-width:1000px){
  .podcasts{
    grid-template-columns:100%;
  }
}

/* Blogs */
.blogs{
  grid-template-columns:45% 45%;
  grid-column-gap:10%;
  display:grid;
}
.blog{
  margin-bottom:50px;
  text-align:center;
}
.blog img{
  width:100px;
}
.blog p{
  margin:15px 0;
}
.blog h2{
  margin:5px 0;
}
.blog a{
  font-weight:bold;
}
@media only screen and (max-width:1000px){
  .blogs{
    grid-template-columns:100%;
  }
}

/* Blog content */
.blog-content{
  margin:50px 5%;
}
.blog-content h2{
  margin-top:50px;
}
.blog-content a.external{
  color:var(--blue);
  text-decoration:none;
  text-align:center;
  margin-top:50px;
  display:block;
}

/* Contacts */
.contacts{
  grid-template-columns:50% 50%;
  display:grid;
}
.contact-info{
  grid-template-columns:70px calc(100% - 70px);
  grid-column-gap:25px;
  margin-bottom:50px;
  display:grid;
}
.contact-info .icon{
  text-align:right;
}
.contact-info .icon img{
  height:60px;
  width:60px;
}
.contact-info h2{
  margin-bottom:5px;
  text-align:left;
  margin-top:0;
}
@media only screen and (max-width:1000px){
  .contacts{
    grid-template-columns:100%;
  }
}
